<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <!-- Inputs with labels -->
    <ion-searchbar showCancelButton="focus" [(ngModel)]="foodName" (ionChange)="search(foodName)"></ion-searchbar>
    <!-- <ion-input type='text' [(ngModel)]="foodName"></ion-input> -->

  <ion-item>
    <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="recipes">Recipes</ion-select-option>
      <ion-select-option value="foods">Foods</ion-select-option>
    </ion-select>
  </ion-item>


  <!-- <ion-button expand="full" name="star" (click)="search(foodName)">
    <ion-icon ></ion-icon>
    Submit
  </ion-button>   -->
  
  <ion-list>
 
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'recipes', item.recipe.label]">

       <ion-avatar slot="start">
        <ion-img [src]="item.recipe.image"></ion-img>
      </ion-avatar>

      <ion-label text-wrap>
        <h2>{{ item.recipe.label }}</h2>
        {{ item.recipe.healthLabels }}
      </ion-label>


 
      <!-- <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon> -->
 
    </ion-item>
 
  </ion-list>


</ion-content>
