<ion-header>
  <ion-toolbar>
    <ion-title>{{ id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-item *ngFor="let item of (information | async | slice :0:1)">
  <ion-card >
    <ion-card-header>
      <ion-card-title>
        {{ item.recipe.label }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content text-center>
      <img [src]="item.recipe.image" class="info-img">
      <ion-card-subtitle>Ingredients:</ion-card-subtitle>
      
      <ion-list *ngFor="let ingredient of (item.recipe.ingredients)">
        {{ ingredient.text}}
      </ion-list>
      

    </ion-card-content>
  </ion-card>
  </ion-item>
</ion-content>
